<% include ../common/head.ejs%>
<% include ../common/header.ejs%>
<% include ../common/navigation.ejs%>
<div class="right_col" role="main">
    <div class="">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Resturants</h2>
              <ul class="nav navbar-right panel_toolbox">
                <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                  <ul class="dropdown-menu" role="menu">
                    <li><a href="#">Settings 1</a>
                    </li>
                    <li><a href="#">Settings 2</a>
                    </li>
                  </ul>
                </li>
                <li><a class="close-link"><i class="fa fa-close"></i></a>
                </li>
              </ul>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <p class="text-muted font-13 m-b-30">
                List of active restaurants
              </p>
              <table id="restaurantTbl" class="table table-striped table-bordered">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Code</th>
                    <th>User Name</th>
                    <th>Email</th>
                    <th>Contact</th>
                    <th>Min Order</th>
                    <th>Resturant Slug</th>
                    <th>User Role</th>
                    <th>Alternate Number</th>
                    <th>Location</th>
                    <th>Latitude</th>
                    <th>Longitude</th>
                    <th>Delivery Charge</th>
                    <th>Delivery On Time</th>
                    <th>VAT</th>
                    <th>Service Tax</th>
                    <th>Opening Time In Day</th>
                    <th>Closing Time In Day</th>
                    <th>Opening Time In Night</th>
                    <th>Closing Time In Night</th>
                    <th>Description</th>
                    <th>Restaurant Logo</th>
                    <th>Restaurant Images</th>
                    <th>Restaurant Profile Video</th>
                    <th>COD</th>
                    <th>Admin Profit</th>
                    <th>Open Days</th>
                    <th>Added Date</th>
                    <th>Last Modified Date</th>
                    <th>Last Login Time</th>
                    <th>Last Login IP</th>
                    <th>Owner Name</th>
                    <th>Owner Email</th>
                    <th>Incharge Name</th>
                    <th>Incharge Email</th>
                    <th>Food Contact Number1</th>
                    <th>Food Contact Number2</th>
                    <th>Food Contact Number3</th>
                    <th>Delivery Time Day</th>
                    <th>Delivery Time Night</th>
                    <th>Food Type 1</th>
                    <th>Food Type 2</th>
                    <th>Pancard Number</th>
                    <th>Name On Pancard</th>
                    <th>Cancelled Cheque Number</th>
                    <th>Service Charge</th>
                    <th>Average Rating</th>
                    <th>Page Title</th>
                    <th>Meta Description</th>
                    <th>Meta Keywords</th>
                    <th>Bank Name</th>
                    <th>Account Number</th>
                    <th>IFSC Code</th>
                    <th>Branch Name</th>
                  </tr>
                </thead>
                <tbody>
                  <% for(var i=0; i<data.length; i++) { %>
                  <tr>
                    <td><%=data[i].restaurant_name%></td>
                    <td><%=data[i].restaurant_code%></td>
                    <td><%=data[i].user_name%></td>
                    <td><%=data[i].user_email%></td>
                    <td><%=data[i].contact_num%></td>
                    <td><%=data[i].min_order%></td>
                    <td><%=data[i].restaurant_slug%></td>
                    <td><%=data[i].user_role_id%></td>
                    <td><%=data[i].alternate_num%></td>
                    <td><%=data[i].location%></td>
                    <td><%=data[i].latitude%></td>
                    <td><%=data[i].longitude%></td>
                    <td><%=data[i].delivery_charge%></td>
                    <td><%=data[i].delivery_on_time%></td>
                    <td><%=data[i].vat%></td>
                    <td><%=data[i].service_tax%></td>
                    <td><%=data[i].opening_time%></td>
                    <td><%=data[i].closing_time%></td>
                    <td><%=data[i].opening_time_night%></td>
                    <td><%=data[i].closing_time_night%></td>
                    <td><%=data[i].description%></td>
                    <td><%=data[i].restaurant_logo%></td>
                    <td><%=data[i].restaurant_images%></td>
                    <td><%=data[i].restaurant_video_link%></td>
                    <td><%=data[i].COD%></td>
                    <td><%=data[i].restaurant_admin_profit%></td>
                    <td><%=data[i].open_days%></td>
                    <td><%=data[i].added_date%></td>
                    <td><%=data[i].last_modified_date%></td>
                    <td><%=data[i].last_login_date%></td>
                    <td><%=data[i].last_login_ip%></td>
                    <td><%=data[i].owner_name%></td>
                    <td><%=data[i].owner_email%></td>
                    <td><%=data[i].incharge_name%></td>
                    <td><%=data[i].incharge_email%></td>
                    <td><%=data[i].food_contact_num1%></td>
                    <td><%=data[i].food_contact_num2%></td>
                    <td><%=data[i].food_contact_num3%></td>
                    <td><%=data[i].delivery_time_1%></td>
                    <td><%=data[i].delivery_time_2%></td>
                    <td><%=data[i].food_type_1%></td>
                    <td><%=data[i].food_type_2%></td>
                    <td><%=data[i].pancard_num%></td>
                    <td><%=data[i].pancard_name%></td>
                    <td><%=data[i].cancelled_cheque_num%></td>
                    <td><%=data[i].service_charge%></td>
                    <td><%=data[i].avg_rating%></td>
                    <td><%=data[i].page_title%></td>
                    <td><%=data[i].meta_description%></td>
                    <td><%=data[i].meta_keywords%></td>
                    <td><%=data[i].bank_name%></td>
                    <td><%=data[i].ac_no%></td>
                    <td><%=data[i].ifsc_code%></td>
                    <td><%=data[i].branch_name%></td>
                  </tr>
                  <% } %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
  </div>
</div>
<% include ../common/footer.ejs%>