                <footer>
                    <div class="pull-right">
                        Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                    </div>
                    <div class="clearfix"></div>
                </footer>
            </div>
        </div>
        <script src="<%=host%>/js/jquery.min.js"></script>
        <script src="<%=host%>/js/bootstrap.min.js"></script>
        <script src="<%=host%>/js/custom.js"></script>
        <script src="<%=host%>/js/moment.min.js"></script>
        <script src="<%=host%>/js/daterangepicker.js"></script>
        <script src="<%=host%>/js/bootstrap-datetimepicker.min.js"></script>
        <script src="<%=host%>/js/jquery.dataTables.js"></script>
        <script src="<%=host%>/js/dataTables.responsive.min.js"></script>
        <script src="<%=host%>/js/dataTables.buttons.min.js"></script>
        <script src="<%=host%>/js/jszip.min.js"></script>
        <script src="<%=host%>/js/pdfmake.min.js"></script>
        <script src="<%=host%>/js/vfs_fonts.js"></script>
        <script src="<%=host%>/js/buttons.html5.min.js"></script>
        <script src="<%=host%>/js/jquery.tabledit.js"></script>
        <script src="<%=host%>/js/common.js"></script>
    </body>
    </body>
</html>
</html>